This is the original code for the navbar in base.html.

<!--<nav class="navbar navbar-expand-lg bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="{% url 'index' %}">Markups</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--&lt;!&ndash;      <div class="collapse navbar-collapse" id="navbarSupportedContent">&ndash;&gt;-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'needed_inventory' %}">Manage Inv</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'purchase_history' %}">Purchase History</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'to_buy' %}">To Buy</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'stock' %}">Stock</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'stock_history' %}">Stock History</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</nav>-->