This is the original code for the navbar in base.html.

<!--<nav class="navbar navbar-expand-lg bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="{% url 'index' %}">Markups</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--&lt;!&ndash;      <div class="collapse navbar-collapse" id="navbarSupportedContent">&ndash;&gt;-->
<!--        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'needed_inventory' %}">Manage Inv</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'purchase_history' %}">Purchase History</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'to_buy' %}">To Buy</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'stock' %}">Stock</a>-->
<!--          </li>-->

<!--          <li class="nav-item">-->
<!--              <a class="nav-link active" href="{% url 'stock_history' %}">Stock History</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</nav>-->


This came from needed_inventory.html
{% if purchased_items %}
<div class="container p-3 my-3 border">
    <table class="table table-striped" cellpadding="1500">
    <thead>
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Total Price</th>
            <th scope="col">Image</th>
            <th scope="col">Admin Approval</th>
        </tr>
    </thead>
    <tbody class="table">
    {% for item in purchased_items %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ item.item.total_price }}</td>
            <td><a href="{{ item.item.image_url }}">Image Link</a></td>
            <td><form method="post" action="{% url 'approve' item.pk %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-success">Approve</button>
                </form>
            </td>
        </tr>
    {% endfor %}


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">